body{
        background-color: #2A5D5A;
}
h1{
    color: white;
    background-color: #311313;
    font-size: 64px;
    width: 600px;
    text-align: center;
    margin-left: 650px;
}
.main_box{
    background-color: black;
    border: 10px solid rgb(255, 0, 0);
    width: 1000px;
    height: 638px;
    opacity: 1;
    top: 193px;
    left: 220px;
    border-width: 10px;
    margin-left:450px;
}
.main_box div{
    width: 896px;
height: 259px;
opacity: 1;
top: 238px;
left: 272px;
background-color: #1FE8B7;
margin: 50px;
font-size: 35px;
}